# COMPILE TEST
CONFIG_COMPILE_TEST=y

# Interconnect
CONFIG_INTERCONNECT=y
CONFIG_INTERCONNECT_QCOM_SM7635=y

# Pinctrl
CONFIG_PINCTRL=y
CONFIG_PINCTRL_MSM=y
CONFIG_PINCTRL_SM7635=y

# Clocks
CONFIG_COMMON_CLK_QCOM=y
CONFIG_SM_CAMCC_7635=y
CONFIG_SM_DISPCC_7635=y
CONFIG_SM_GCC_7635=y
CONFIG_SM_GPUCC_7635=y
CONFIG_SM_VIDEOCC_7635=y